h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

 :root {
    --primary-text-color: #212121;
    --title-color: #757575;
    --primary-font-family: "Roboto";
    --primary-text-color-theme-light: #E5E5E5;
    --secondary-text-color-theme-light: #F5F4FA;
    --primary-text-color-theme-dark: #2F303A;
}

.body {
    font-family: var(--primary-font-family), sans-serif;
    font-style: normal;
}


/*цвет основного текста #212121*/


/*цвет вторичного текста #757575*/


/*белый #FFFFFF*/


/*акцент #2196F3*/


/*цвет основного фона #E5E5E5*/


/*цвет вторичного фона #F5F4FA*/

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}


/*      HEADER    */

.page-header {
    background-color: #ECECEC;
    color: var(--primary-text-color);
    text-align: left;
    width: 1200px
}

.logo {
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo-accent {
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
}

.logo-accent-footer {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
}

.menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    margin-left: 93px;
}

.menu li {
    margin-right: 50px;
}

.menu .menu-item:last-child {
    margin-right: 0;
}

.menu .site-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu .contact-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-contact {
    display: flex;
    margin-left: 331px;
}

.menu-contact li {
    margin-right: 50px;
}

.menu-contact .contact-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main-nav {
    display: flex;
    align-items: ;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    margin-right: 8px;
}

.filters-btn {}


/*site-nav*/

.site-nav {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
}

.site-nav:hover,
.site-nav:focus {
    color: #2196F3;
}

.site-nav.current {
    color: #2196F3;
}


/*contact-nav*/

.contact-nav {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
}

.contact-nav:hover,
.contact-nav:focus {
    color: #2196F3;
}

.modal-btn {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: Center;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    padding: 32px, 10px;
    min-width: 200px;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}

.style-btn {
    background-color: var(--secondary-text-color-theme-light);
    color: var(--primary-text-color);
    font-weight: 500;
    Font-size: 16px;
    Line-height: 1.62;
    text-align: Center;
    cursor: pointer
}

.style-btn:hover,
.style-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.style-btn.current {
    color: #FFFFFF;
    background-color: #2196F3;
}


/*   hero  */

.hero {
    color: #FFFFFF;
    background-color: var(--primary-text-color-theme-dark);
    text-align: Center;
    font-weight: 900;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}


/* section  */

.section-theme-light {
    background-color: var(--primary-text-color-theme-light);
}

.section-title-theme-light {
    background-color: var(--primary-text-color-theme-light);
}

.title-theme-light {
    background-color: var(--secondary-text-color-theme-light);
}

.section-background-theme-light {
    background-color: var(--primary-text-color-theme-light);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1200px;
    padding-left: 15px;
    padding-left: 15px;
}

.feature-list {
    margin-right: 30px;
}

.section-title {
    font-weight: 700;
    Font-size: 36px;
    Line-height: 1.16;
    text-align: Center;
    margin-bottom: 50px;
}

.feature {
    display: flex;
    padding: 0;
    margin: 0;
}

.employees {
    display: flex;
    padding: 0;
    margin: 0;
}

.image-list {
    margin-right: 30px;
}

.feature-title {
    font-weight: 700;
    Font-size: 14px;
    Line-height: 1.14;
    display: flex;
    margin-bottom: 10px;
}

.employees-photo {
    margin-right: 30px;
}

.employees-name {
    font-weight: 500;
    Font-size: 16px;
    Line-height: 1.18;
    text-align: Center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.employees-position {
    color: var(--title-color);
    font-weight: 400;
    Font-size: 16px;
    Line-height: 1.18;
    text-align: Center;
}

.text {
    color: var(--title-color);
    font-weight: 400;
    Font-size: 14px;
    Line-height: 1.71;
}

.section-works {
    color: var(--primary-text-color);
    font-weight: 700;
    Font-size: 18px;
    Line-height: 2;
}

.subtytle {
    color: var(--title-color);
    font-weight: 400;
    Font-size: 16px;
    Line-height: 1.87;
}


/*    FOOTER   */

.address {
    font-style: normal;
}

.address-list {}

.contact-info {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
}

.contact-info:hover,
.contact-info:focus {
    color: #2196F3;
}

.contact-info-item {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contact-info-item:hover,
.contact-info-item:focus {
    color: #2196F3;
}

.footer {
    background-color: var(--primary-text-color-theme-dark);
    width: 1200px;
}